<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/webqatutor">Vadim</a> . 
  </p>
  <br />
  <p>
    That's an interesting and fun process to build rails applications. I'm focused on a delivery quality product to meet customers satisfaction.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
  	<div class="col-12 col-sm-4">
  		<%= image_tag 'vadim.png', class: 'img-fluid portfolio-image' %>
  	</div>
  	<div class="col-12 col-sm-7 offset-sm-1">
  		<h2 class="text-center">Vadim Geroim</h2>
  		<br />
  		<p>
  			Vadim Geroim is a web developer and an experienced automation tester.
  		</p>
  	</div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
